<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437948100522-t3gdqcl52tdbb8vvfnoo80ojqja6epi8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437948100522-t3gdqcl52tdbb8vvfnoo80ojqja6epi8</string>
	<key>API_KEY</key>
	<string>AIzaSyA_7MW97MVOhYmHEJoMpzkDcg5e40eUGlo</string>
	<key>GCM_SENDER_ID</key>
	<string>437948100522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.angkordc.ios</string>
	<key>PROJECT_ID</key>
	<string>angkor-dc-dev-c4a06</string>
	<key>STORAGE_BUCKET</key>
	<string>angkor-dc-dev-c4a06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437948100522:ios:edc6a4b1bffa9a9cd4c5d3</string>
	<key>DATABASE_URL</key>
	<string>https://angkor-dc-dev-c4a06-default-rtdb.firebaseio.com</string>
</dict>
</plist>